.1_2 { 
	overflow:hidden;
}.desktop___1_1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:3430px;
	position:absolute;
}.rectangle_2_1_32 { 
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:1452px;
	height:868px;
	position:absolute;
	left:-6px;
	top:1134px;
}.rectangle_15_26_37 { 
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:1440px;
	height:456px;
	position:absolute;
	left:-2346px;
	top:1732px;
}.rectangle_17_26_43 { 
	background-color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:1540px;
	height:720px;
	position:absolute;
	left:-50px;
	top:2002px;
}.mask_group_26_42 { 
	width:1631.111083984375px;
	height:734px;
	position:absolute;
	left:-161px;
	top:2002px;
}.26_41 { 
	overflow:hidden;
}.rectangle_16_26_41 { 
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:1631.111083984375px;
	height:734px;
	position:absolute;
	left:0px;
	top:0px;
}.background4_26_39 { 
	width:3225.97509765625px;
	height:2277.750732421875px;
	position:absolute;
	left:-505.6444396972656px;
	top:-1265.130615234375px;
	background-image:url(images/background4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.rectangle_1_1_8 { 
	background-color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:1440px;
	height:752px;
	position:absolute;
	left:0px;
	top:0px;
}.rectangle_12_26_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:926px;
	height:360px;
	position:absolute;
	left:120px;
	top:300px;
}.welcome_to_the_design_world__it_sucks__you_ll_gonna_love_it_1_18 { 
	color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:765px;
	height:188px;
	position:absolute;
	left:180px;
	top:420px;
	text-align:left;
	font-size:37.8885383605957px;
	letter-spacing:0;
}.designer_26_12 { 
	color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:139px;
	height:38px;
	position:absolute;
	left:509px;
	top:202px;
	font-family:BioRhyme;
	text-align:left;
	font-size:30.80610466003418px;
	letter-spacing:0;
}.crio_26_13 { 
	color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:64px;
	height:38px;
	position:absolute;
	left:687px;
	top:202px;
	font-family:BioRhyme;
	text-align:left;
	font-size:30.80610466003418px;
	letter-spacing:0;
}.proposta_26_14 { 
	color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:143px;
	height:38px;
	position:absolute;
	left:788px;
	top:202px;
	font-family:BioRhyme;
	text-align:left;
	font-size:30.80610466003418px;
	letter-spacing:0;
}.rectangle_14_26_35 { 
	background-color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:220px;
	height:278px;
	position:absolute;
	left:1080px;
	top:262px;
}.mask_group_26_34 { 
	width:274px;
	height:360px;
	position:absolute;
	left:1046px;
	top:300px;
}.26_32 { 
	overflow:hidden;
}.rectangle_13_26_32 { 
	background-color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:274px;
	height:360px;
	position:absolute;
	left:0px;
	top:0px;
}.group_4_copy_1_17 { 
	transform: rotate(-90.00000231847334deg);
	width:585.6796264648438px;
	height:361.0909423828125px;
	position:absolute;
	left:-49.09090805053711px;
	top:480.12054443359375px;
	background-image:url(images/group_4_copy.png);
	background-repeat:no-repeat;
	background-size:cover;
}.group_29_75 { 
	width:75.97412109375px;
	height:89.94210815429688px;
	position:absolute;
	left:681px;
	top:86.03155517578125px;
}.vector_29_76 { 
	background-color:rgba(255, 114.0000008046627, 68.00000354647636, 1);
	width:28.850107192993164px;
	height:33.49905014038086px;
	position:absolute;
	left:5.268860816955566px;
	top:0.16731171309947968px;
}.vector_29_77 { 
	background-color:rgba(255, 114.0000008046627, 68.00000354647636, 1);
	width:29.017105102539062px;
	height:33.31588363647461px;
	position:absolute;
	left:41.0598030090332px;
	top:0px;
}.vector_29_78 { 
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:75.97412109375px;
	height:82.76460266113281px;
	position:absolute;
	left:0px;
	top:7.177505970001221px;
}.vector_29_79 { 
	transform: rotate(-0.3128422527558947deg);
	background-color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:9.21883773803711px;
	height:14.211247444152832px;
	position:absolute;
	left:10.141026496887207px;
	top:47.20530700683594px;
}.vector_29_80 { 
	transform: rotate(-0.3128422527558947deg);
	background-color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:9.218852043151855px;
	height:14.211247444152832px;
	position:absolute;
	left:56.58272933959961px;
	top:46.94955825805664px;
}.frame_2_29_120 { 
	width:1453px;
	height:866px;
	position:absolute;
	left:-7px;
	top:1134px;
}.background4_1_52_51 { 
	transform: rotate(-90.00000250447827deg);
	width:2163.999755859375px;
	height:3156px;
	position:absolute;
	left:-497.9999084472656px;
	top:638.9998779296875px;
	background-image:url(images/background4_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.rectangle_24_52_52 { 
	background-color:rgba(255, 255, 255, 1);
	width:884px;
	height:690px;
	position:absolute;
	left:165px;
	top:88px;
}.group_207_32_33 { 
	width:360px;
	height:586.376220703125px;
	position:absolute;
	left:943px;
	top:119px;
}.group_189_26_2 { 
	transform: rotate(-179.99999499104388deg);
	width:216.0381317138672px;
	height:96.37628936767578px;
	position:absolute;
	left:288.0380859375px;
	top:586.3762817382812px;
}.2_gatos_26_3 { 
	transform: rotate(-179.99999499104388deg);
	width:216.0381317138672px;
	height:96.37628936767578px;
	position:absolute;
	left:0px;
	top:0px;
}.group_72_26_4 { 
	transform: rotate(-179.99999499104388deg);
	width:64.68206787109375px;
	height:96.37628936767578px;
	position:absolute;
	left:4.547473508864641e-12px;
	top:-0.00005224903725320473px;
}.rectangle_9_26_5 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:64.68206787109375px;
	height:96.37628936767578px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.group_74_26_6 { 
	transform: rotate(-179.99999499104388deg);
	width:64.68206787109375px;
	height:96.37628936767578px;
	position:absolute;
	left:-151.35606384277344px;
	top:-0.000013231967386673205px;
}.rectangle_10_26_7 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(139.0000069141388, 185.00000417232513, 255, 1);
	width:64.68206787109375px;
	height:96.37628936767578px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.gato_do_meio_laranja_26_8 { 
	transform: rotate(-179.99999499104388deg);
	width:64.68206787109375px;
	height:96.37628936767578px;
	position:absolute;
	left:-75.67787933349564px;
	top:-0.000013231965908744314px;
}.rectangle_11_26_9 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(255, 114.0000008046627, 68.00000354647636, 1);
	width:64.68206787109375px;
	height:96.37628936767578px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.mask_group_29_74 { 
	width:360px;
	height:508.4000244140625px;
	position:absolute;
	left:0px;
	top:0px;
}.29_70 { 
	overflow:hidden;
}.gato_do_meio_laranja_29_70 { 
	width:360px;
	height:508.4000244140625px;
	position:absolute;
	left:0px;
	top:0px;
}.imagem_do_whatsapp_de_2024_01_03___s__23_25_1_29_73 { 
	width:411px;
	height:730px;
	position:absolute;
	left:-37px;
	top:-99px;
	background-image:url(images/imagem_do_whatsapp_de_2024_01_03___s__23_25_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.group_210_52_53 { 
	width:597px;
	height:563px;
	position:absolute;
	left:257px;
	top:152px;
}.ol___eu_sou_o_andrew__mas_pode_me_chamar_de_andy__costumava_ser_aquela_crian_a_que_sonhava_em_viver_de_seus_desenhos__mas_que_um_dia__se_sentiu_perdida_e_se_perguntou__com_o_passar_do_tempo__a_ang_stia_de_n_o_saber_para_onde_ir__aumentava__mas_um_dia__encontrei_o_design__sempre_soube_que_ele_existia__mas_nunca_imaginei_que_seria_para_mim__logo_eu__t_o_t_mido_e_introvertido__mas_n_o_consegui_me_desapegar_mais__hoje___o_que_fa_o__e_com_prazer__mesmo_com_seus_altos_e_baixos__al_m_de_ser_uma_ferramenta_de_trabalho____onde_eu_consigo_trazer_de_volta_esse_sentimento_de_crian_a__que_adorava_mexer_com_suas_artes__cria__es__cores_e_formas__esse_sou_eu__e_garanto_que_posso_te_ajudar_a_dar_vida_e_tamb_m_contar_a_sua_pr_pria_hist_ria__1_33 { 
	color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:597px;
	height:563px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:left;
	font-size:20.254762649536133px;
	letter-spacing:0;
}.___isso_que_sei_fazer__mas____e_agora___48_24 { 
	color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:406px;
	height:44.21782302856445px;
	position:absolute;
	left:0px;
	top:145px;
	font-family:BioRhyme Expanded;
	text-align:left;
	font-size:21.754222869873047px;
	letter-spacing:0;
}.frame_3_29_122 { 
	width:1439px;
	height:720px;
	position:absolute;
	left:0px;
	top:2002px;
}.rectangle_18_26_44 { 
	background-color:rgba(255, 255, 255, 1);
	width:721px;
	height:420px;
	position:absolute;
	left:359px;
	top:106px;
}.rectangle_19_26_51 { 
	background-color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:600px;
	height:193px;
	position:absolute;
	left:420px;
	top:275px;
}.group_200_26_52 { 
	width:218px;
	height:136px;
	position:absolute;
	left:480px;
	top:304px;
}.identidade_visual_social_media_e_mail_marketing_e_book_26_46 { 
	color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:218px;
	height:136px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:BioRhyme;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.group_202_29_57 { 
	width:170px;
	height:57px;
	position:absolute;
	left:635px;
	top:572px;
}.29_56 { 
	border:3px solid rgba(255, 245.00000059604645, 238.00000101327896, 1);
}.rectangle_20_29_56 { 
	width:170px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}.group_201_26_54 { 
	width:110px;
	height:30px;
	position:absolute;
	left:30px;
	top:11px;
}.portfolio_26_55 { 
	color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:110px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:BioRhyme;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.eu_crio__26_53 { 
	color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:335px;
	height:73px;
	position:absolute;
	left:420px;
	top:184px;
	font-family:BioRhyme Expanded;
	text-align:left;
	font-size:51.363059997558594px;
	letter-spacing:0;
}.rectangle_20_29_58 { 
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:1439px;
	height:480px;
	position:absolute;
	left:0px;
	top:2722px;
}.vamos_contar_sua_nova_hist_ria__29_59 { 
	color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:808px;
	height:146px;
	position:absolute;
	left:320px;
	top:2827px;
	text-align:center;
	font-size:51.363059997558594px;
	letter-spacing:0;
}.frame_6_32_29 { 
	width:1439px;
	height:480px;
	position:absolute;
	left:0px;
	top:2720px;
}.group_203_29_65 { 
	width:285px;
	height:95.55882263183594px;
	position:absolute;
	left:578px;
	top:281px;
}.group_204_32_9 { 
	width:285px;
	height:95.55882263183594px;
	position:absolute;
	left:0px;
	top:0px;
}.rectangle_20_29_61 { 
	background-color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:285px;
	height:95.55882263183594px;
	position:absolute;
	left:0px;
	top:0px;
}.group_201_29_62 { 
	width:186px;
	height:58px;
	position:absolute;
	left:50px;
	top:13px;
}.proposta_29_63 { 
	color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:186px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:BioRhyme;
	text-align:left;
	font-size:40.23529052734375px;
	letter-spacing:0;
}.frame_5_29_124 { 
	width:1439px;
	height:228px;
	position:absolute;
	left:0px;
	top:3202px;
}.group_205_32_10 { 
	width:1444px;
	height:228px;
	position:absolute;
	left:0px;
	top:3202px;
}.rectangle_21_29_64 { 
	background-color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:1444px;
	height:228px;
	position:absolute;
	left:0px;
	top:0px;
}.group_198_29_99 { 
	transform: rotate(9.213866198408551e-15deg);
	width:247px;
	height:40.67803192138672px;
	position:absolute;
	left:596px;
	top:117px;
}.vector_29_100 { 
	transform: rotate(9.007766936916067e-15deg);
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:23.024734497070312px;
	height:22.666072845458984px;
	position:absolute;
	left:0px;
	top:9.4895601272583px;
}.vector_29_101 { 
	transform: rotate(9.007766936916067e-15deg);
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:27.625539779663086px;
	height:22.30341339111328px;
	position:absolute;
	left:26.09885597229004px;
	top:9.529886245727539px;
}.vector_29_102 { 
	transform: rotate(9.007766936916067e-15deg);
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:26.800304412841797px;
	height:32.276458740234375px;
	position:absolute;
	left:56.406394958496094px;
	top:0px;
}.vector_29_103 { 
	transform: rotate(9.007766936916067e-15deg);
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:25.294174194335938px;
	height:30.342304229736328px;
	position:absolute;
	left:83.20657348632812px;
	top:9.9529390335083px;
}.vector_29_104 { 
	transform: rotate(9.007766936916067e-15deg);
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:21.807476043701172px;
	height:22.142215728759766px;
	position:absolute;
	left:112.93684387207031px;
	top:9.973101615905762px;
}.vector_29_105 { 
	transform: rotate(9.007766936916067e-15deg);
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:15.927509307861328px;
	height:21.779592514038086px;
	position:absolute;
	left:138.1482391357422px;
	top:10.053567886352539px;
}.vector_29_106 { 
	transform: rotate(9.007766936916067e-15deg);
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:21.807485580444336px;
	height:22.142215728759766px;
	position:absolute;
	left:157.0055389404297px;
	top:9.973101615905762px;
}.vector_29_107 { 
	transform: rotate(9.007766936916067e-15deg);
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:26.49081802368164px;
	height:21.920625686645508px;
	position:absolute;
	left:180.896728515625px;
	top:10.375990867614746px;
}.vector_29_108 { 
	transform: rotate(9.007766936916067e-15deg);
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:11.739303588867188px;
	height:30.302040100097656px;
	position:absolute;
	left:206.02597045898438px;
	top:10.375990867614746px;
}.vector_29_109 { 
	transform: rotate(9.007766936916067e-15deg);
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:22.942203521728516px;
	height:22.222814559936523px;
	position:absolute;
	left:224.05780029296875px;
	top:9.993265151977539px;
}.group_206_32_32 { 
	width:108.04661560058594px;
	height:41px;
	position:absolute;
	left:665px;
	top:55px;
}.evaemailoutline0_29_113 { 
	width:43.8112678527832px;
	height:34.2650260925293px;
	position:absolute;
	left:64.2353515625px;
	top:4px;
}.evaemailoutline1_29_114 { 
	width:43.8112678527832px;
	height:34.2650260925293px;
	position:absolute;
	left:0px;
	top:0px;
}.evaemailoutline2_29_115 { 
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:43.8112678527832px;
	height:34.2650260925293px;
	position:absolute;
	left:0px;
	top:0px;
}.vector_29_117 { 
	background-color:rgba(255, 245.00000059604645, 238.00000101327896, 1);
	width:42px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}.rectangle_22_32_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1452px;
	height:388px;
	position:absolute;
	left:-6px;
	top:752px;
}